<div class="home-banner">
  <h1 class="banner-text mr-3">Wipeout Bar</h1>
    <span class="banner-typed-text" id="banner-typed-text"></span>
</div>


<div class="container">
  <div class="row justify-content-center">
  <h2 class="m-3 menu-text">Menu <i class="far fa-hand-peace"></i></h2>
  </div>
  <div class="row" style="height:400px">
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-3">
          <div class="card card-shadow" style="height: 200px;">
            <% if cocktail.photo.attached?%>
              <div class="card-body card-body-border" style="background-size: cover; background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
                <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %>
              </div>
            <% end %>

              <%# <%= link_to image_tag(cocktail.img_url, alt: cocktail.name, width: 200), cocktail_path(cocktail) %>
          </div>
        </div>
      <% end %>
  </div>
</div>



