  
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
<%# fixed-top will fix navbar %>
  <%= link_to root_path, class: "navbar-logo" do %>
    Wipeout Bar <i class="fas fa-biohazard"></i>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-wipeout" %>
        </li>

    </ul>
  </div>
</div>