.home-banner {
  background-image: url('https://www.booksurfcamps.com/static/files/images/pe/te/qr/tf/content.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.banner-text {
  color: $dark-blue;
  opacity: 0.8;
}

.banner-typed-text {
  color: $dark-blue;
}
